* {
    font-family: "ubuntu Nerd Font", "Symbols Nerd Font";
    font-weight: normal;
    font-size: 14px;
    min-height: 0;
    color: #cdd6f4;
    transition: all 0.3s ease-in-out;
}

tooltip {
    font-size: 14px;
    color: #cdd6f4;
    background-color: alpha(#11111b, 0.8);
    border-radius: 8px;
    border: 0;
}

#window,
#cpu,
#memory,
#backlight,
#clock,
#tray,
#pulseaudio,
#pulseaudio.microphone,
#battery,
#bluetooth,
#network,
#workspaces,
#custom-powermenu,
#custom-nix {
    background-color: alpha(#313244, 0.8);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1px 5px;
    border-radius: 8px;
    border: none;
}

#tray {
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces {
    color: #eeeeef;
    padding-left: 10px;
    padding-right: 10px;
}

#bluetooth.connected {
    color: #89b4fa;
}

#backlight {
    color: #f2cdcd;
}

#network.wifi {
    color: #89b4fa;
}

#battery {
    color: #94e2d5;
}

#battery.warning {
    color: #f9e2af;
}

#battery.critical {
    color: #f38ba8;
}

#custom-powermenu {
    color: #f38ba8;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}

#custom-nix {
    color: #b4befe;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

#window {
    font-weight: bold;
}

#workspaces button {
    color: #eeeeef;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: transparent;
}

#workspaces button.active {
    color: #eeeeef;
}

#workspaces button.focused {
    color: #eeeeef;
}

window#waybar {
    background-color: alpha(#11111b, 0.8);
    color: #cdd6f4;
    border-radius: 11px;
    border: 0px solid alpha(#b4befe, 0.5);
}
