

@theme "index"

* {
    background-color: transparent;
    text-color: #cdd6f4;               /* text */
    horizontal-align: 0.5;
    margin: 0;
    padding: 0;
}

window {
    background-color: #11111bcc;       /* crust + 80% alpha */
    border-radius: 11px;
    width: 13.5em;
}

inputbar {
    children: [ prompt ];
}

prompt {
    padding: 0.5em 0.75em;
    font: "Ubuntu Nerd Font 16px";
    text-color: #cdd6f4;               /* text (same as index.rasi) */
}

listview {
    lines: 3;
    layout: horizontal;
    margin: 0.5em 0.5em 0.75em;
}

element {
    padding: 1em 0em;
    margin: 0 0.25em;
    width: 4em;
}

element.selected {
    background-color: #b4befe;         /* lavender */
    border-radius: 8px;
}

element-text {
    font: "Ubuntu Nerd Font 16px";
}

element-text.selected {
    color: #313244;                    /* surface0 */
}

